.caja {
    background-color: #F2EBBF;
    color: #573544;
    border: 2px solid #172A40;
    padding-left: 0 !important;
    overflow: hidden;
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    font-weight: bold;
}

p {
    font-size: 1.4rem;
}

button, a {
    font-size: 1.2rem !important;
    cursor: pointer;
}
