.caja {
    background-color: #F2EBBF;
    color: #573544;
    border: 2px solid #172A40;
    padding-left: 0 !important;
    margin-left: 50px;
    overflow: hidden;
}

.boton {
    background-color: transparent;
    background-repeat: no-repeat;
    color: #573544;
    width: 50px;
    border: 1px solid #172A40;
    border-radius: 2px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.botonSubmit {
    background-color: transparent;
    background-repeat: no-repeat;
    color: #573544;
    border: 1px solid #172A40;
    border-radius: 2px;
    cursor:pointer;
    outline:none;
}

.boton:hover, .botonSubmit:hover {
    color: #F2EBBF;
    background-color: #449991;
}

.texto {
    font-weight: bold;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-left: 1.3rem;
    margin-top: 0.3rem;
}

#paginacion a {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #f8f9fa;
    background-color: #09504F;
}

#paginacion .disabled {
    cursor: not-allowed;
}

#paginacion .disabled a {
    color: #A4A4A5;
    background-color: #112624;
}

#paginacion .activo a {
    background-color: #357872;
}

#paginacion a:hover {
    background-color: #357872;
}

input[type='text'], input[type='password'], input[type='email'], .botonSubmit {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.2rem;
}

select {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
}

.form-control:focus {
    outline: none !important;
    border:1px solid #A8ACB0;
    box-shadow: 0 0 10px #09504F;
}

