.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar {
    display: inline-block;
}
.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
}

.file-preview {
    border: none !important;
}

.btn-primary {
    border: none;
    background-color: #09504F !important;
}

.btn-secondary {
    border: none;
    background-color: #E8476D !important;
}

.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}