.jumbotron {
    background-color: transparent;
}

.textoUlt {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    color: #212529;
}

.contAnimacion {
    position: relative;
    font-weight: 200;
    font-size: 4em;
}

.contAnimacion .text-wrapper {
    font-size: 7.3rem;
    font-family: 'Lilita One', cursive;
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.contAnimacion .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
}

.letter {
    letter-spacing: .35em;
    padding-top: 20px;
    color: #212529;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px #ABAEB0, 7px 7px 0px #CACDCF;
}

.caja {
    background-color: #F2EBBF;
    color: #573544;
    border: 2px solid #172A40;
    padding-left: 0 !important;
    overflow: hidden;
}

.card-text {
    font-family: 'Cabin Condensed', sans-serif !important;
    font-size: 1rem;
}

.card-title {
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    font-weight: bold;
    font-size: 1.5rem;
}