.caja {
    background-color: #F2EBBF;
    color: #573544;
    border: 2px solid #172A40;
    border-radius: 4px;
    margin-left: 50px;
}

.btn-primary {
    border: none;
    background-color: #09504F !important;
    cursor: pointer;
}

.texto {
    color: #573544;
    font-size: 1.4rem;
    font-family: 'Cabin Condensed', sans-serif;
}

label span {
    padding-left: 1.3rem;
}

input[type='text'], input[type='password'] {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.3rem;
}

.form-control:focus {
    outline: none !important;
    border:1px solid #A8ACB0;
    box-shadow: 0 0 10px #09504F;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    -moz-appearance: none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #573544;
}

input[type='checkbox']:checked {
    background-color: #44DC91;
}