.caja {
    background-color: #F2EBBF;
    color: #573544;
    border: 2px solid #172A40;
    border-radius: 4px;
    margin-left: 50px;
}

.btn-primary {
    border: none;
    background-color: #09504F !important;
    cursor: pointer;
}

.nav-link.active {
    background-color: #09504F !important;
}

.nav-link {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.3rem;
    color: #573544;
}

.nav-link:hover {
    font-weight: bold;
    color: #8B556D;
}

input[type='text'], input[type='password'], input[type='number'], input[type='email'], textarea {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.3rem;
}

select {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
}

.form-control:focus {
    outline: none !important;
    border:1px solid #A8ACB0;
    box-shadow: 0 0 10px #09504F;
}

.texto {
    color: #573544;
    font-size: 1.4rem;
    font-family: 'Cabin Condensed', sans-serif;
}