.apartado {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.3rem;
    color: #573544;
}

.apartado:hover {
    font-weight: bold;
    color: #8B556D;
}

.dropdown button {
    background-color: transparent !important;
    outline: none;
    border: 0;
}

.botonNav {
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Cabin Condensed', sans-serif;
}

.dropdown-menu button {
    cursor: pointer;
}

.estiloTexto {
    font-size: 1.3rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
}