body {
    background-color: #081421;
    color: #d3d7de;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    line-height: 1.5em;
    cursor: default;
}

.codigo {
    position: absolute;
    width: 410px;
    min-width: 320px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.codigo .comentario {
    font-style: italic;
    color: #777;
}

.codigo .condicion {
    color:#d65562;
}

.codigo .operador {
    color:#4ca8ef;
}

.codigo .comando {
    padding-left: 15px;
    color:#2796ec;
    font-style: italic;
}

.codigo .clase {
    color: #C792EA;
}

.codigo .cadena {
    color: #a6a61f;
}

.codigo > span {
    display: block;
}

@media screen and (max-width: 320px) {
    .codigo {
        font-size: 5vw;
        min-width: auto;
        width: 95%;
        margin: auto;
        padding: 5px;
        padding-left: 10px;
        line-height: 6.5vw;
    }
}
