.caja {
    background-color: #F2EBBF;
    color: #573544;
    border: 2px solid #172A40;
    border-radius: 4px;
    padding-left: 0 !important;
    margin-left: 50px;
}

.texto {
    color: #7E606D;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.txtApartado {
    color: #573544;
}

.txtMuted {
    color: #767676;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.titulo {
    font-size: 2.5rem;
    color: #573544;
    font-family: 'Cabin Condensed', sans-serif;
}

.textoLargo {
    display:block;
    word-wrap:break-word;
}