.caja {
    background-color: #F2EBBF;
    color: #573544;
    border: 2px solid #172A40;
    border-radius: 4px;
    padding-left: 0 !important;
    margin-left: 50px;
    overflow: auto;
}

.nav-link.active {
    background-color: #09504F !important;
}

.nav-link {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.3rem;
    color: #573544;
}

.nav-link:hover {
    font-weight: bold;
    color: #8B556D;
}

.texto {
    color: #7E606D;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.texto span {
    margin-right: 0.2rem;
    color: #573544;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
}