<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #09504F">
    <a class="navbar-brand" href="/">LoVendoTodo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link apartado" href="/">Inicio</a>
            </li>
            {% if sesion.rol == 1 %}
                <li class="nav-item">
                    <a class="nav-link apartado" href="/usuarios">Usuarios</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link apartado" href="/anuncios">Anuncios</a>
            </li>
            {% if sesion %}
                <li class="nav-item">
                <div class="dropdown">
                    <button class="nav-link apartado" type="button" id="aUser" data-toggle="dropdown">
                        Acciones usuario
                    </button>
                    <div class="dropdown-menu" aria-labelledby="aUser">
                        <form action="/anuncios" method="get">
                            <button type="submit" name="u" value="{{ sesion.id }}" class="dropdown-item apartado">Mis anuncios</button>
                        </form>
                        <form action="/usuarios/verUsuario" method="get">
                            <button type="submit" name="id" value="{{ sesion.id }}" class="dropdown-item apartado">Mi perfil</button>
                        </form>
                        <a class="dropdown-item apartado" href="/anuncios/agregaAnuncio">Agregar anuncio</a>
                    </div>
                </div>
            </li>
            {% endif %}
            {% if sesion.rol == 1 %}
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="nav-link apartado" type="button" id="aUser" data-toggle="dropdown">
                            Acciones admin
                        </button>
                        <div class="dropdown-menu" aria-labelledby="aUser">
                            <a class="dropdown-item apartado" href="/usuarios/agregaUsuario">Agregar usuario</a>
                            <a class="dropdown-item apartado" href="/pdfUsuarios">Lista PDF Usuarios</a>
                            <a class="dropdown-item apartado" href="/pdfAnuncios">Lista PDF Anuncios</a>
                            <a class="dropdown-item apartado" href="/logs">Logs</a>
                        </div>
                    </div>
                </li>
            {% endif %}
        </ul>
        <form class="form-inline">
            {% if sesion %}
                <span class="navbar-text text-light mr-2 estiloTexto">
                <i class="fa fa-user" aria-hidden="true"></i>
                {{ sesion.usuario }} - Hora de inicio: {{ sesion.hora }}</span>
                <a href="/logout" class="btn btn-outline-light my-2 my-sm-0 botonNav">Cerrar sesión</a>
            {% else %}
                <a href="/registro" class="btn btn-outline-light botonNav mr-2">Registro</a>
                <a href="/login" class="btn btn-outline-light botonNav">Iniciar sesión</a>
            {% endif %}
        </form>
    </div>
</nav>