{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="../public/css/estiloAnuncios.css">
{% endblock %}
{% block titulo %}Anuncios{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-9 col-sm-12 rounded mt-3 caja mx-auto py-2 px-2">
            <form class="form-inline" action="anuncios" method="post">
                <input type="text" class="ml-2 form-control mr-sm-2 col-sm-2" placeholder="Titulo" name="busqueda[titulo]">
                <select class="custom-select ml-2" id="fRol" name="busqueda[tipo]">
                    <option value=">">Mayor que</option>
                    <option value="<">Menor que</option>
                    <option value="=">Igual a</option>
                </select>
                <input type="number" step="0.01" min="0" class="ml-2 form-control mr-sm-2 col-sm-2" name="busqueda[precio]" value="0">
                <select class="custom-select ml-2" id="fRol" name="busqueda[categoria]">
                    <option value="." selected>Todas</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.cod }}">{{ categoria.nombre }}</option>
                    {% endfor %}
                </select>
                <select class="custom-select ml-2" id="fRol" name="busqueda[estado]">
                    <option value="." selected>Cualquiera</option>
                    {% for i in range(0, 2) %}
                        <option value="{{ i }}">{{ estados[i] }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="botonSubmit ml-2">Buscar</button>
            </form>
        </div>
        {% if sesionBusqueda %}
            <div class="col-md-2 caja text-center mt-3 py-2 px-2 ml-0">
                <p class="textoBusq" style="font-size: 1.3rem">¡Busqueda activa!</p>
                <form action="anuncios" method="post">
                    <input type="submit" name="cancelar" class="botonSubmit" value="¿Borrar?">
                </form>
            </div>
        {% endif %}
    </div>
    <div class="row mb-2">
        {% for anuncio in anuncios %}
            <div class="col-sm-5 mx-auto">
                <div class="card mt-3 caja">
                    <img class="img-fluid" src="../public/images/fotos/{{ anuncio.imagen[0] }}" style="height: 450px; width: 450px">
                    <div class="card-body">
                        <h4 class="card-title">{{ anuncio.titulo }} <span class="float-right font-weight-bold">{{ anuncio.precioVenta }} <i class="fa fa-eur" aria-hidden="true"></i></span></h4>
                        <p class="card-text">Categoria: {{ anuncio.categoria }} <span class="float-right">Estado: {{ anuncio.estado }}</span></p>
                        <p class="card-text"><small class="text-muted">{{ anuncio.fecha }}</small><small class="text-muted float-right">Creado por: {{ anuncio.usuarioNom }}</small></p>
                    </div>
                    <div class="card-footer text-center">
                        <form class="d-inline-block" action="/anuncios/verAnuncio" method="get">
                            <input type="hidden" name="id" value="{{ anuncio.id }}">
                            <button type="submit" class="boton"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                        </form>
                        {% if anuncio.usuario == usuario.id or usuario.rol == '1' %}
                            <form class="d-inline-block" action="/anuncios/modificarAnuncio" method="post">
                                <input type="hidden" name="id" value="{{ anuncio.id }}">
                                <button type="submit" class="boton"><i class="fa fa-pencil-square" aria-hidden="true"></i></button>
                            </form>
                            <form class="d-inline-block" action="/anuncios/eliminarAnuncio" method="post">
                                <input type="hidden" name="id" value="{{ anuncio.id }}">
                                <button type="submit" class="boton" name="solicitud"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if (paginacion.total > 1) %}
        <div class="row">
            <div class="col">
                <nav class="mt-3 pagination-lg">
                    <ul id="paginacion" class="pagination justify-content-center">
                        <li class="page-item {{ paginacion.actual == '1' ? 'disabled' }}">
                            <a class="page-link" href="?p={{ paginacion.actual - 1 }}" tabindex="-1">Anterior</a>
                        </li>
                        {% for i in range(1, paginacion.total) %}
                            <li class="page-item {{ i == paginacion.actual ? 'activo' }}"><a class="page-link" href="?p={{ i }}">{{ i }}</a></li>
                        {% endfor %}
                        <li class="page-item {{ paginacion.actual == paginacion.total ? 'disabled' }}">
                            <a class="page-link" href="?p={{ paginacion.actual + 1 }}">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}
{% endblock %}
