<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ include('partials/head.twig') }}
    {% endblock %}
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body>
{% block nav %}
    {{ include('partials/nav.twig') }}
{% endblock %}

<div class="container">
    {% block contenido %}{% endblock %}
</div>

{% block footer %}
    {{ include('partials/footer.twig') }}
{% endblock %}
</body>
</html>