{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="../public/css/confirmacion.css">
{% endblock %}
{% block titulo %}Eliminar - {{ titulo }}{% endblock %}
{% block contenido %}
    <div class="row mt-4">
        <div class="col-sm-8 mx-auto">
            <div class="alert alert-danger caja" role="alert">
                <div class="text-center">
                    <h1 class="animated infinite tada display-2 text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h1>
                    <h2 class="alert-heading font-weight-bold">¿Estás seguro?</h2>
                    <p>¿Deseas eliminar el {{ tipo }} <span class="text-primary">{{ titulo }}</span> de la base de datos?</p>
                    <hr>
                    <a class="btn btn-secondary font-weight-bold" href="/">Cancelar</a>
                    <form class="d-inline-block" action="{{ controlador }}" method="post">
                        <input type="hidden" name="id" value="{{ id }}">
                        <button type="submit" class="btn btn-danger font-weight-bold" name="confirmacion">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                             Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}