<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ha ocurrido un error</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <style>
        body {
            background-color: #081421;
            color: #d3d7de;
            font-family: 'Source Code Pro', monospace;
            font-size: 18px;
            line-height: 1.5em;
            cursor: default;
        }
        .codigo {
            position: absolute;
            width: 410px;
            min-width: 320px;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        .codigo .comentario {
            font-style: italic;
            color: #777;
        }
        .codigo .condicion {
            color:#d65562;
        }
        .codigo .operador {
            color:#4ca8ef;
        }
        .codigo .comando {
            padding-left: 15px;
            color:#2796ec;
            font-style: italic;
        }
        .codigo .clase {
            color: #C792EA;
        }
        .codigo .cadena {
            color: #a6a61f;
        }
        .codigo > span {
            display: block;
        }
        @media screen and (max-width: 320px) {
            .codigo {
                font-size: 5vw;
                min-width: auto;
                width: 95%;
                margin: auto;
                padding: 5px;
                padding-left: 10px;
                line-height: 6.5vw;
            }
        }
    </style>
</head>
<body>
    <div class="codigo">
        <span class="comentario">//404 - página no encontrada</span>
        <span>
            <span class="condicion">if</span>(<span class="operador">!</span>$existe)
            {
        </span>
        <span>
            <span class="comando">throw new</span>
            <span class="clase">Exception</span>
            (<span class="cadena">'╯°□°)╯︵ ┻━┻'</span>);
            <span style="display: block;">}</span>
        </span>
    </div>
</body>
</html>