{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Lilita+One" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/inicio.css">
{% endblock %}
{% block titulo %}Inicio{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="contAnimacion text-center">
                <span class="text-wrapper">
                    <span class="letters">Lo Vendo Todo</span>
                    <span class="letter">&#x1F6D2</span>
                </span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="row">
            <div class="col-sm-12 textoUlt">
                <p>Ultimos anuncios agregados:</p>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="row mb-2 mx-auto w-100">
            {% for anuncio in anuncios %}
                <div class="col-sm-4">
                    <div class="card mt-3 caja">
                        <img class="card-img-top" src="../public/images/fotos/{{ anuncio.imagen[0] }}" style="height: 350px; width: 350px">
                        <div class="card-body">
                            <h4 class="card-title">{{ anuncio.titulo }} <span class="float-right font-weight-bold">{{ anuncio.precioVenta }} <i class="fa fa-eur" aria-hidden="true"></i></span></h4>
                            <p class="card-text">Categoria: {{ anuncio.categoria }} <span class="float-right">Estado: {{ anuncio.estado }}</span></p>
                            <p class="card-text"><small class="text-muted">{{ anuncio.fecha }}</small><small class="text-muted float-right">Creado por: {{ anuncio.usuarioNom }}</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="../public/js/animacionInicio.js"></script>
{% endblock %}