{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="../public/css/login.css">
{% endblock %}
{% block titulo %}Iniciar sesión{% endblock %}
{% block contenido %}
    {% if error %}
        <div class="row mt-5">
            <div class="col-sm-6 mx-auto">
                <div class="alert alert-danger text-center">
                    ¡Credenciales incorrectas!
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row mt-5">
        <div class="col-sm-6 mx-auto caja">
            <form action="login" method="post">
                <div class="form-group">
                    <label class="mt-2 font-weight-bold texto" for="usuario">Nombre de usuario</label>
                    <input type="text" class="form-control" id="usuario" name="usuario[usuario]" aria-describedby="nombreUsuario" placeholder="Nombre de usuario" value="{{ datos.usuario }}">
                </div>
                <div class="form-group">
                    <label class="font-weight-bold texto" for="passwd">Contraseña</label>
                    <input type="password" class="form-control" id="passwd" name="usuario[passwd]" placeholder="Contraseña" value="{{ datos.passwd }}">
                </div>
                <div class="form-check">
                    <label class="form-check-label font-weight-bold texto">
                        <input type="checkbox" class="form-check-input" name="usuario[recuerdaPass]">
                        <span>Recordar contraseña</span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label font-weight-bold texto">
                        <input type="checkbox" class="form-check-input" name="usuario[recuerda]">
                        <span>Recuerdame</span>
                    </label>
                </div>
                <button type="submit" class="mb-3 btn btn-primary btn-block">Enviar</button>
            </form>
        </div>
    </div>
{% endblock %}