{% extends "base.twig" %}

{% block titulo %}Lista de logs{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>ID Usuario</th>
                    <th>Rol</th>
                    <th>Fecha</th>
                    <th>Tipo</th>
                    <th>Tabla</th>
                </tr>
                </thead>
                <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.id }}</td>
                        <td>{{ log.usuario }}</td>
                        <td>{{ log.rol }}</td>
                        <td>{{ log.fecha }}</td>
                        <td>{{ log.tipo }}</td>
                        <td>{{ log.tabla }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}