{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="../public/css/estiloAvatar.css">
    <link rel="stylesheet" href="../public/css/modificarUsuario.css">
{% endblock %}
{% block titulo %}Modificar - {{ usuario.usuario }}{% endblock %}
{% block contenido %}
    {% if errores %}
        <div class="row">
            <div class="col mx-auto">
                <div class="alert alert-danger mt-5" role="alert">
                    Han ocurrido los siguientes errores:
                    <ul>
                        {% for error in errores %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col col mx-auto">
            <div id="msgError" class="center-block" style="display:none"></div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="avatar-tab" data-toggle="pill" href="#avatar" role="tab" aria-controls="avatar" aria-selected="true">Foto</a>
                <a class="nav-link" id="perfil-tab" data-toggle="pill" href="#perfil" role="tab" aria-controls="perfil" aria-selected="false">Perfil</a>
                <a class="nav-link" id="personal-tab" data-toggle="pill" href="#personal" role="tab" aria-controls="personal" aria-selected="false">Datos personales</a>
                <a class="nav-link" id="lugar-tab" data-toggle="pill" href="#lugar" role="tab" aria-controls="lugar" aria-selected="false">Localización</a>
                <a class="nav-link" id="contacto-tab" data-toggle="pill" href="#contacto" role="tab" aria-controls="contacto" aria-selected="false">Contacto</a>
            </div>
        </div>
        <div class="col">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="avatar" role="tabpanel" aria-labelledby="avatar-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 caja">
                                <form action="modificarUsuario" method="post" enctype="multipart/form-data">
                                    <input type="hidden" value="{{ usuario.id }}" name="usuario[id]">
                                    <div class="form-group row text-center">
                                        <div class="col-sm-6 text-center">
                                            {#<input type="hidden" name="MAX_FILE_SIZE" value="30000" />#}
                                            <input type="file" class="form-control-file ml-3" id="fichero" name="usuario[foto]">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary ml-3">Subir</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="perfil" role="tabpanel" aria-labelledby="perfil-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 caja">
                                <form action="modificarUsuario" method="post">
                                    <input type="hidden" value="{{ usuario.id }}" name="usuario[id]">
                                    <div class="form-group row">
                                        <label for="fUsuario" class="mt-3 col-sm-3 col-form-label font-weight-bold texto">Usuario</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="mt-3 form-control {{ errores.usuario ? 'is-invalid' }}" id="fUsuario" readonly value="{{ usuario.usuario }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fPasswd" class="col-sm-3 col-form-label font-weight-bold texto">Contraseña</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control {{ errores.passwd ? 'is-invalid' }}" id="fPasswd" name="usuario[passwd]" placeholder="Contraseña" value="{{ usuario.passwd }}">
                                        </div>
                                    </div>
                                    <div class="form-group row ml-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label texto">
                                                <input class="form-check-input {{ errores.admin ? 'is-invalid' }}" type="radio" id="admin" name="usuario[admin]" value="1" {{ usuario.admin == 1 ? 'checked' }}> Administrador
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label texto">
                                                <input class="form-check-input {{ errores.admin ? 'is-invalid' }}" type="radio" id="admin" name="usuario[admin]" value="0" {{ usuario.admin == 0 ? 'checked' }}> Anunciante
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary ml-3">Enviar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 caja">
                                <form action="modificarUsuario" method="post">
                                    <input type="hidden" value="{{ usuario.id }}" name="usuario[id]">
                                    <div class="form-group row">
                                        <label for="fNif" class="col-sm-3 col-form-label font-weight-bold texto">NIF</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="mt-2 form-control {{ errores.nif ? 'is-invalid' }}" id="fNif" readonly placeholder="NIF" value="{{ usuario.nif }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fNombre" class="col-sm-3 col-form-label font-weight-bold texto">Nombre</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="mt-2 form-control {{ errores.nombre ? 'is-invalid' }}" id="fNombre" name="usuario[nombre]" placeholder="Nombre" value="{{ usuario.nombre }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fAp1" class="col-sm-3 col-form-label font-weight-bold texto">Apellido 1</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="mt-2 form-control {{ errores.apellido1 ? 'is-invalid' }}" id="fAp1" name="usuario[apellido1]" placeholder="Apellido 1" value="{{ usuario.apellido1 }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fAp2" class="col-sm-3 col-form-label font-weight-bold texto">Apellido 2</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="mt-2 form-control {{ errores.apellido2 ? 'is-invalid' }}" id="fAp2" name="usuario[apellido2]" placeholder="Apellido 2" value="{{ usuario.apellido2 }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <button type="submit" class="ml-3 btn btn-primary">Enviar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="lugar" role="tabpanel" aria-labelledby="lugar-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 caja">
                                <form action="modificarUsuario" method="post">
                                    <input type="hidden" value="{{ usuario.id }}" name="usuario[id]">
                                    <div class="form-group row">
                                        <label for="fDir" class="col-sm-3 col-form-label font-weight-bold texto">Dirección</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="mt-2 form-control {{ errores.direccion ? 'is-invalid' }}" id="fDir" name="usuario[direccion]" placeholder="Dirección" value="{{ usuario.direccion }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fPobl" class="col-sm-3 col-form-label font-weight-bold texto">Población</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="mt-2 form-control {{ errores.poblacion ? 'is-invalid' }}" id="fPobl" name="usuario[poblacion]" placeholder="Población" value="{{ usuario.poblacion }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fCP" class="col-sm-3 col-form-label font-weight-bold texto">Codigo postal</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="mt-2 form-control {{ errores.codigop ? 'is-invalid' }}" id="fCP" name="usuario[codigop]" placeholder="Codigo postal" value="{{ usuario.codigop }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fProvincia" class="col-sm-3 col-form-label font-weight-bold texto">Provincia</label>
                                        <div class="col-sm-6">
                                            <select class="custom-select {{ errores.provincia ? 'is-invalid' }}" id="fProvincia" name="usuario[provincia]">
                                                {% for provincia in provincias %}
                                                    {% if provincia.cod == usuario.provincia %}
                                                        <option value="{{ provincia.cod }}" selected>{{ provincia.nombre }}</option>
                                                    {% else %}
                                                        <option value="{{ provincia.cod }}">{{ provincia.nombre }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary ml-4">Enviar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contacto" role="tabpanel" aria-labelledby="contacto-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 caja">
                                <form action="modificarUsuario" method="post">
                                    <input type="hidden" value="{{ usuario.id }}" name="usuario[id]">
                                    <div class="form-group row">
                                        <label for="fTelf" class="col-sm-2 col-form-label font-weight-bold texto">Teléfono</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="mt-2 form-control {{ errores.telf ? 'is-invalid' }}" id="fTelf" name="usuario[telf]" placeholder="Teléfono" value="{{ usuario.telf }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fCorreo" class="col-sm-2 col-form-label font-weight-bold texto">Correo</label>
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control {{ errores.correo ? 'is-invalid' }}" id="fCorreo" name="usuario[correo]" placeholder="Correo" value="{{ usuario.correo }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fWeb" class="col-sm-2 col-form-label font-weight-bold texto">Web</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control {{ errores.web ? 'is-invalid' }}" id="fWeb" name="usuario[web]" placeholder="Web" value="{{ usuario.web }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fBlog" class="col-sm-2 col-form-label font-weight-bold texto">Blog</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control {{ errores.blog ? 'is-invalid' }}" id="fBlog" name="usuario[blog]" placeholder="Blog" value="{{ usuario.blog }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fTwitter" class="col-sm-2 col-form-label font-weight-bold texto">Twitter</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control {{ errores.twitter ? 'is-invalid' }}" id="fTwitter" name="usuario[twitter]" placeholder="Twitter" value="{{ usuario.twitter }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <button type="submit" class="ml-4 btn btn-primary">Enviar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    <script src="../public/js/imagenUsuario.js"></script>
{% endblock %}
