{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="../public/css/modificarAnuncio.css">
{% endblock %}
{% block titulo %}Modificar - {{ anuncio.titulo }}{% endblock %}
{% block contenido %}
    {% if errores %}
        <div class="row">
            <div class="col mx-auto">
                <div class="alert alert-danger mt-5" role="alert">
                    Han ocurrido los siguientes errores:
                    <ul>
                        {% for error in errores %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row mt-5">
        <div class="col-sm-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="datos-tab" data-toggle="pill" href="#datos" role="tab" aria-controls="datos" aria-selected="true">Datos</a>
                <a class="nav-link" id="imagen-tab" data-toggle="pill" href="#imagen" role="tab" aria-controls="imagen" aria-selected="false">Imagenes</a>
                <a class="nav-link" id="precio-tab" data-toggle="pill" href="#precio" role="tab" aria-controls="precio" aria-selected="false">Precio</a>
                <a class="nav-link" id="otros-tab" data-toggle="pill" href="#otros" role="tab" aria-controls="otros" aria-selected="false">Otros datos</a>
            </div>
        </div>
        <div class="col">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="datos" role="tabpanel" aria-labelledby="datos-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 caja">
                                <form action="modificarAnuncio" method="post">
                                    <input type="hidden" value="{{ anuncio.id }}" name="anuncio[id]">
                                    <div class="form-group row">
                                        <label for="fTitulo" class="col-sm-3 col-form-label font-weight-bold texto mt-2">Titulo</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="mt-3 form-control {{ errores.titulo ? 'is-invalid' }}" id="fTitulo" name="anuncio[titulo]" placeholder="Titulo" value="{{ anuncio.titulo }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fDesc" class="col-sm-3 col-form-label font-weight-bold texto mt-2">Descripcion</label>
                                        <div class="col-sm-6">
                                            <textarea rows="5" class="mt-3 form-control {{ errores.datos ? 'is-invalid' }}" id="fDesc" name="anuncio[datos]">{{ anuncio.datos }}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary">Enviar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="imagen" role="tabpanel" aria-labelledby="imagen-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-11 caja">
                                <form action="modificarAnuncio" method="post" enctype="multipart/form-data">
                                    <input type="hidden" value="{{ anuncio.id }}" name="anuncio[id]">
                                    <div class="form-group row">
                                        <label for="fImagen" class="col-sm-2 col-form-label font-weight-bold texto mt-2">Imagen</label>
                                        <div class="col-sm-10 mt-3">
                                            <input type="file" class="form-control-file" id="fImagen" name="fotos[]" multiple="multiple">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="precio" role="tabpanel" aria-labelledby="precio-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 caja">
                                <form action="modificarAnuncio" method="post">
                                    <input type="hidden" value="{{ anuncio.id }}" name="anuncio[id]">
                                    <div class="form-group row">
                                        <label for="fPrecio" class="col-sm-3 col-form-label font-weight-bold texto mt-2">Precio</label>
                                        <div class="col-sm-4">
                                            <input type="number" step="0.01" min="1" class="mt-3 form-control {{ errores.precio ? 'is-invalid' }}" id="fPrecio" name="anuncio[precio]" value="{{ anuncio.precio }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fPorc" class="col-sm-3 col-form-label font-weight-bold texto mt-2">Porcentaje</label>
                                        <div class="col-sm-4">
                                            <input type="number" step="0.01" min="1" class="mt-3 form-control {{ errores.porcentaje ? 'is-invalid' }}" id="fPorc" name="anuncio[porcentaje]" value="{{ anuncio.porcentaje }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fPVenta" class="col-sm-3 col-form-label font-weight-bold texto mt-2">Precio de venta</label>
                                        <div class="col-sm-4">
                                            <input type="number" readonly class="mt-3 form-control" id="fPVenta" value="0">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary">Enviar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="otros" role="tabpanel" aria-labelledby="otros-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 caja">
                                <form action="modificarAnuncio" method="post">
                                    <input type="hidden" value="{{ anuncio.id }}" name="anuncio[id]">
                                    <div class="form-group row">
                                        <label for="fEstado" class="col-sm-3 col-form-label font-weight-bold texto mt-2">Estado</label>
                                        <div class="col-sm-6">
                                            <select class="mt-3 custom-select {{ errores.estado ? 'is-invalid' }}" id="fEstado" name="anuncio[estado]">
                                                {% for i in range(0, 2) %}
                                                    {% if i == anuncio.estado %}
                                                        <option value="{{ i }}" selected>{{ estados[i] }}</option>
                                                    {% else %}
                                                        <option value="{{ i }}">{{ estados[i] }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fCat" class="col-sm-3 col-form-label font-weight-bold texto mt-2">Categoria</label>
                                        <div class="col-sm-6">
                                            <select class="mt-3 custom-select {{ errores.categoria ? 'is-invalid' }}" id="fCat" name="anuncio[categoria]">
                                                {% for categoria in categorias %}
                                                    {% if categoria.cod == anuncio.categoria %}
                                                        <option value="{{ categoria.cod }}" selected>{{ categoria.nombre }}</option>
                                                    {% else %}
                                                        <option value="{{ categoria.cod }}">{{ categoria.nombre }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary">Enviar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    <script src="../public/js/imagenAnuncio.js"></script>
    <script src="../public/js/calculoPrecio.js"></script>
{% endblock %}