{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="../public/css/estiloAvatar.css">
    <link rel="stylesheet" href="../public/css/agregaUsuario.css">
{% endblock %}
{% block titulo %}Registro{% endblock %}
{% block contenido %}
    {% if errores %}
        <div class="row">
            <div class="col mx-auto">
                <div class="alert alert-danger mt-5" role="alert">
                    Han ocurrido los siguientes errores:
                    <ul>
                        {% for error in errores %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row mb-3">
        <div class="col-sm-9 mx-auto">
            <form class="mt-3 caja" action="agregaUsuario" method="post" enctype="multipart/form-data">
                <div class="form-row mt-2">
                    <div class="col-sm-4 ml-3">
                        <input type="file" class="form-control-file" id="fichero" name="usuario[foto]">
                    </div>
                    <div class="col-sm-5 mt-2">
                        <input type="text" class="form-control {{ errores.usuario ? 'is-invalid' }}" id="fUsuario" name="usuario[usuario]" placeholder="Usuario" value="{{ usuario.usuario }}">
                        <input type="password" class="mt-2 form-control {{ errores.passwd ? 'is-invalid' }}" id="fPasswd" name="usuario[passwd]" placeholder="Contraseña">
                        <input type="email" class="mt-2 form-control {{ errores.correo ? 'is-invalid' }}" id="fCorreo" name="usuario[correo]" placeholder="Correo" value="{{ usuario.correo }}">
                    </div>
                </div>
                <div class="form-row mt-3 mx-3">
                    <div class="col">
                        <input type="text" class="form-control {{ errores.nif ? 'is-invalid' }}" name="usuario[nif]" placeholder="NIF" value="{{ usuario.nif }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control {{ errores.nombre ? 'is-invalid' }}" name="usuario[nombre]" placeholder="Nombre" value="{{ usuario.nombre }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control {{ errores.apellido1 ? 'is-invalid' }}" name="usuario[apellido1]" placeholder="Apellido 1" value="{{ usuario.apellido1 }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control {{ errores.apellido2 ? 'is-invalid' }}" name="usuario[apellido2]" placeholder="Apellido 2" value="{{ usuario.apellido2 }}">
                    </div>
                </div>
                <div class="form-row mt-3 mx-3">
                    <div class="col">
                        <input type="text" class="form-control {{ errores.direccion ? 'is-invalid' }}" id="fDir" name="usuario[direccion]" placeholder="Dirección" value="{{ usuario.direccion }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control {{ errores.poblacion ? 'is-invalid' }}" id="fPobl" name="usuario[poblacion]" placeholder="Población" value="{{ usuario.poblacion }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control {{ errores.codigop ? 'is-invalid' }}" id="fCP" name="usuario[codigop]" placeholder="Codigo postal" value="{{ usuario.codigop }}">
                    </div>
                    <div class="col">
                        <select class="form-control {{ errores.provincia ? 'is-invalid' }}" id="fProvincia" name="usuario[provincia]">
                            {% for provincia in provincias %}
                                <option value="{{ provincia.cod }}" {{ usuario.provincia == provincia.cod ? 'selected' }}>{{ provincia.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row mt-3 mx-3">
                    <div class="col">
                        <input type="text" class="form-control {{ errores.telf ? 'is-invalid' }}" id="fTelf" name="usuario[telf]" placeholder="Teléfono" value="{{ usuario.telf }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control {{ errores.web ? 'is-invalid' }}" id="fWeb" name="usuario[web]" placeholder="Web" value="{{ usuario.web }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control {{ errores.blog ? 'is-invalid' }}" id="fBlog" name="usuario[blog]" placeholder="Blog" value="{{ usuario.blog }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control {{ errores.twitter ? 'is-invalid' }}" id="fTwitter" name="usuario[twitter]" placeholder="Twitter" value="{{ usuario.twitter }}">
                    </div>
                </div>
                {% if sesion.rol == 1 %}
                    <div class="form-row mt-2 justify-content-center">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label texto">
                            <input class="form-check-input {{ errores.admin ? 'is-invalid' }}" type="radio" id="admin" name="usuario[admin]" value="1"> Administrador
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label texto">
                            <input class="form-check-input {{ errores.admin ? 'is-invalid' }}" type="radio" id="admin" name="usuario[admin]" value="0" checked> Anunciante
                        </label>
                    </div>
                </div>
                {% endif %}
                <div class="form-row mb-3 justify-content-center">
                    <div class="col-sm-7 mt-2">
                        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    <script src="../public/js/imagenUsuario.js"></script>
{% endblock %}
