{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="../public/css/nuevoAnuncio.css">
{% endblock %}
{% block titulo %}Agregar anuncio{% endblock %}
{% block contenido %}
    {% if errores %}
        <div class="row">
            <div class="col mx-auto">
                <div class="alert alert-danger mt-5" role="alert">
                    Han ocurrido los siguientes errores:
                    <ul>
                        {% for error in errores %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <form class="mt-5" action="agregaAnuncio" method="post" enctype="multipart/form-data">
        <div class="caja">
            <div class="row">
                <div class="col-sm-11 mx-auto">
                    <div class="form-row justify-content-center">
                        <div class="form-group col-sm-10">
                            <label class="font-weight-bold texto mt-2" for="fImagen">Imagen</label>
                            <input type="file" class="form-control-file" id="fImagen" multiple="multiple" name="fotos[]">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mx-auto">
                    <div class="form-row justify-content-center">
                        <div class="form-group col-sm-3 mr-2">
                            <label class="font-weight-bold texto mt-2" for="fTitulo">Titulo</label>
                            <input type="text" class="form-control {{ errores.titulo ? 'is-invalid' }}" id="fTitulo" placeholder="Titulo" name="anuncio[titulo]" value="{{ anuncio.titulo }}">
                        </div>
                        <div class="form-group col-sm-3 mr-2">
                            <label class="font-weight-bold texto mt-2" for="fCat">Categoria</label>
                            <select class="form-control {{ errores.categoria ? 'is-invalid' }}" id="fCat" name="anuncio[categoria]">
                                {% for categoria in categorias %}
                                    <option value="{{ categoria.cod }}" {{ anuncio.categoria == categoria.cod ? 'selected' }}>{{ categoria.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="font-weight-bold texto mt-2" for="fEstado">Estado</label>
                            <select class="form-control {{ errores.estado ? 'is-invalid' }}" id="fEstado" name="anuncio[estado]">
                                {% for i in range(0, 2) %}
                                    <option value="{{ i }}" {{ anuncio.estado == i ? 'selected' }}>{{ estados[i] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-sm-3 mr-2">
                            <label class="font-weight-bold texto mt-2" for="fPrecio">Precio</label>
                            <input type="number" step="0.01" min="1" class="form-control {{ errores.precio ? 'is-invalid' }}" id="fPrecio" name="anuncio[precio]" value="{{ anuncio.precio }}">
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="font-weight-bold texto mt-2" for="fPorc">Porcentaje</label>
                            <input type="number" step="0.01" min="1" class="form-control {{ errores.porcentaje ? 'is-invalid' }}" id="fPorc" name="anuncio[porcentaje]" value="{{ anuncio.porcentaje }}">
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="font-weight-bold texto mt-2" for="fPorcentaje">Precio de venta</label>
                            <input type="number" readonly class="form-control" id="fPVenta" value="">
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-sm-9">
                            <label class="font-weight-bold texto mt-2" for="descripcion">Datos</label>
                            <textarea class="form-control {{ errores.datos ? 'is-invalid' }}" name="anuncio[datos]" id="descripcion" rows="3" >{{ anuncio.datos }}</textarea>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-sm-7">
                            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block footer %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#fImagen").fileinput({
                theme: "fa",
                language: "es",
                overwriteInitial: true,
                allowedFileExtensions: ["jpg", "png"],
                showUpload: false,
                showClose: false
            });
        });
    </script>
    <script src="../public/js/calculoPrecio.js"></script>
{% endblock %}