{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="../public/css/estiloUsuarios.css">
{% endblock %}

{% block titulo %}Usuarios{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-7 col-sm-12 rounded mt-3 caja mx-auto py-2 px-2">
            <form class="form-inline" action="usuarios" method="post">
                <input type="text" class="ml-2 form-control mr-sm-2" id="fNombre" placeholder="Usuario" name="busqueda[usuario]">
                <select class="custom-select ml-2" id="fRol" name="busqueda[rol]">
                    <option value="0">Anunciante</option>
                    <option value="1">Administrador</option>
                    <option value="." selected>Todos</option>
                </select>
                <input type="text" class="form-control ml-2" id="fEmail" placeholder="Correo" name="busqueda[email]">
                <button type="submit" class="botonSubmit ml-2">Buscar</button>
            </form>
        </div>
        {% if sesionBusqueda %}
            <div class="col-md-2 caja text-center mt-3 py-2 px-2 ml-0">
                <p class="texto" style="font-size: 1.3rem">¡Busqueda activa!</p>
                <form action="usuarios" method="post">
                    <input type="submit" name="cancelar" class="botonSubmit" value="¿Borrar?">
                </form>
            </div>
        {% endif %}
    </div>
    <div class="row">
        {% for usuario in usuarios %}
            <div class="col-md-5 col-sm-12 rounded mt-3 caja">
                <div class="row">
                    <div class="col">
                        <img src="../public/images/avatares/{{ usuario.foto }}" class="img-fluid float-left" style="height: 160px; width: 160px">
                        <div class="float-left">
                            <p class="texto mt-2" style="margin-top: 0"><i class="fa fa-user" aria-hidden="true"></i> {{ usuario.usuario }}</p>
                            <p class="texto"><i class="fa fa-envelope" aria-hidden="true"></i> {{ usuario.correo }}</p>
                            <p class="texto" style="margin-bottom: 0.7rem"><i class="fa fa-users" aria-hidden="true"></i> {{ usuario.admin == 1 ? 'Administrador' : 'Anunciante' }}</p>
                            <div class="mb-2">
                                <form class="d-inline-block" action="/usuarios/verUsuario" method="get" style="margin-left: 1.3rem">
                                    <input type="hidden" name="id" value="{{ usuario.id }}">
                                    <button type="submit" class="boton"><i class="fa fa-info" aria-hidden="true"></i></button>
                                </form>
                                <form class="d-inline-block" action="/usuarios/modificarUsuario" method="post">
                                    <input type="hidden" name="id" value="{{ usuario.id }}">
                                    <button type="submit" class="boton"><i class="fa fa-pencil-square" aria-hidden="true"></i></button>
                                </form>
                                <form class="d-inline-block" action="/usuarios/eliminarUsuario" method="post">
                                    <input type="hidden" name="id" value="{{ usuario.id }}">
                                    <button type="submit" class="boton" name="solicitud"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if (paginacion.total > 1) %}
        <div class="row">
            <div class="col">
                <nav class="mt-3 pagination-lg">
                    <ul id="paginacion" class="pagination justify-content-center">
                        <li class="page-item {{ paginacion.actual == '1' ? 'disabled' }}">
                            <a class="page-link" href="?p={{ paginacion.actual - 1 }}" tabindex="-1">Anterior</a>
                        </li>
                        {% for i in range(1, paginacion.total) %}
                            <li class="page-item {{ i == paginacion.actual ? 'activo' }}"><a class="page-link" href="?p={{ i }}">{{ i }}</a></li>
                        {% endfor %}
                        <li class="page-item {{ paginacion.actual == paginacion.total ? 'disabled' }}">
                            <a class="page-link" href="?p={{ paginacion.actual + 1 }}">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}
{% endblock %}
