{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="../public/css/verAnuncio.css">
{% endblock %}
{% block titulo %}Anuncio - {{ anuncio.titulo }}{% endblock %}
{% block contenido %}
    <div class="row caja mt-5">
        <div class="col-sm-4" style="padding-left: 0">
            <img class="card-img-top img-fluid" src="../public/images/fotos/{{ fotos[0] }}" alt="Card image cap" style="height: 350px; width: 350px">
        </div>
        <div class="col-sm-8">
            <h4 class="texto titulo">{{ anuncio.titulo }} <span class="float-right">{{ anuncio.precioVenta }}€</span></h4>
            <p class="texto textoLargo">{{ anuncio.datos }}</p>
            <p class="texto"><span class="txtApartado">Estado:</span> {{ anuncio.estado }}</p>
            <p class="texto"><span class="txtApartado">Categoria:</span> {{ anuncio.categoria }}</p>
            <p class="txtMuted">Agregado el: {{ anuncio.fecha }} por {{ anuncio.usuario }}</p>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-sm-5 mx-auto">
            <div id="galeria" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for i in fotos %}
                        <div class="carousel-item {{ loop.first ? 'active' }}">
                            <img style="height: 450px; width: 450px" class="d-block w-100" src="../public/images/fotos/{{ i }}">
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#galeria" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#galeria" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
