{% extends "base.twig" %}


{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="../public/css/verUsuario.css">
{% endblock %}
{% block titulo %}Perfil - {{ usuario.usuario }}{% endblock %}
{% block contenido %}
    <div class="row mt-5">
        <div class="col-sm-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="perfil-tab" data-toggle="pill" href="#perfil" role="tab" aria-controls="perfil" aria-selected="true">Perfil</a>
                <a class="nav-link" id="personal-tab" data-toggle="pill" href="#personal" role="tab" aria-controls="personal" aria-selected="false">Datos personales</a>
                <a class="nav-link" id="lugar-tab" data-toggle="pill" href="#lugar" role="tab" aria-controls="lugar" aria-selected="false">Localización</a>
                <a class="nav-link" id="contacto-tab" data-toggle="pill" href="#contacto" role="tab" aria-controls="contacto" aria-selected="false">Contacto</a>
            </div>
        </div>
        <div class="col">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="perfil-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 caja">
                                <img class="float-left img-fluid" src="../public/images/avatares/{{ usuario.foto }}" style="height: 200px; width: 200px">
                                <div class="float-left">
                                    <p class="texto"><span>Usuario:</span> {{ usuario.usuario }}</p>
                                    <p class="texto"><span>Creado el:</span> {{ usuario.fecha }}</p>
                                    <p class="texto"><span>Rango:</span> {{ usuario.admin == 1 ? 'Administrador' : 'Anunciante' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 caja">
                                <p class="texto"><span>NIF:</span> {{ usuario.nif }}</p>
                                <p class="texto"><span>Nombre:</span> {{ usuario.nombre }}</p>
                                <p class="texto"><span>Apellido 1:</span> {{ usuario.apellido1 }}</p>
                                <p class="texto"><span>Apellido 2:</span> {{ usuario.apellido2 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="lugar" role="tabpanel" aria-labelledby="lugar-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 caja">
                                <p class="texto"><span>Dirección:</span> {{ usuario.direccion }}</p>
                                <p class="texto"><span>Población:</span> {{ usuario.poblacion }}</p>
                                <p class="texto"><span>Codigo postal:</span> {{ usuario.codigop }}</p>
                                <p class="texto"><span>Provincia:</span> {{ usuario.provincia }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contacto" role="tabpanel" aria-labelledby="contacto-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 caja">
                                <p class="texto"><span>Teléfono:</span> {{ usuario.telf }}</p>
                                <p class="texto"><span>Correo:</span> {{ usuario.correo }}</p>
                                <p class="texto"><span>Web:</span> {{ usuario.web }}</p>
                                {% if usuario.blog %}
                                    <p class="texto"><span>Blog:</span> {{ usuario.blog }}</p>
                                {% endif %}
                                {% if usuario.twitter %}
                                    <p class="texto"><span>Twitter:</span> {{ usuario.twitter }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
